<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nareshgediya.firebasenotesapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_edit_black_24dp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirebaseNotesApp.No">
        <activity android:name=".note.EditNote"></activity>
        <activity android:name=".SplashLogin.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SplashLogin.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SplashLogin.RegisterAcitivty"
            android:screenOrientation="portrait"/>
        <activity android:name=".note.NoteDetail" />
        <activity
            android:name=".note.AddNote"
            android:theme="@style/Theme.FirebaseNotesApp.No" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.FirebaseNotesApp.No">

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>